{% load static i18n %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark justify-content-between mb-1" style="background-color:#626366">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'route_manager:home' %}">
      <img class="img-responsive" id="logo" alt="logo" src="{% static 'images/favicons/favicon.ico' %}" width="25" height="25">
      SCRAM
    </a>
    <form class="w-100 d-inline">
      <input class="form-control pl-2 me-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-nowrap">
        {% if request.user.is_superuser %}
          <li class="nav-item">
            <a id="admin-page" class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
          </li>
        {% endif %}
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          </li>
        {% else %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
          </li>
        {% endif %}
        <form class="d-flex" action="{% url 'route_manager:search' %}" method="POST">
          {% csrf_token %}
            <input class="form-control mb-2" name="cidr" type="search" placeholder="cidr">
            <button class="btn btn-outline-success mb-2" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </div>
</nav>
