{% extends "base.html" %}

{% block content %}
  <div class="row d-flex mt-4">
    <div class="col col-md-4 offset-md-2">
      <table class="table table-striped" style="white-space:nowrap;">
        <tr>
          <th>Entry</th>
          <th>Actiontype</th>
          <th class="text-center">Expiration</th>
          <th>Active</th>
          <th></th>
        </tr>
        <tr>
          <td>{{ entry.route }}</td>
          <td class="text-center">{{ entry.actiontype.name }}</td>
          <td>{{ entry.expiration }}</td>
          <td class="text-center">{{ entry.is_active }}</td>
          {% if entry.is_active %}
          <td>
              <form class="form-inline" action="{% url 'route_manager:delete' entry.id %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-danger btn-sm" type="submit">Deactivate Entry</button>
              </form>
          </td>
          {% endif %}
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
