{% extends "base.html" %}

{% block javascript %}
    {% csrf_token %}
    <script>
    function getStatus(entry_id) {
        fetch("{% url 'route_manager:status' pk='0000001000' %}".replace('0000001000', entry_id), {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            mode: 'same-origin',
        }
        ).then(response =>
            response.json().then(data => ({
                data: data,
                status: response.status
            }))
       ).then(res => {
                var elem = document.getElementById("entry_status_" + entry_id);
                elem.classList.remove('fa-question-circle');
                if ( res.data.is_active )
                    elem.classList.add('fa-bullhorn', 'text-success');
                else
                    elem.classList.add('fa-bug', 'text-warning');
            });
    }
    </script>
{% endblock %}

{% block content %}
  <div class="row">
  {% for actiontype, entry_list in entries.items %}
    <div class="col">
      {% if actiontype.available %}
        <h2 class="text-center mt-2">{{ actiontype.name }}
          <span class="badge badge-secondary badge-pill">{{ entry_list.total }}</span>
        </h2>
        {% for entry in entry_list.objs %}
            {% if actiontype.name|lower == entry.actiontype|lower %}
              <li class="list-group-item list-group-item-light text-center">
                <a class="link" href="{% url 'route_manager:detail' entry.id %}">
                  {{ entry }}</a>
             <i class="fa fa-question-circle" id="entry_status_{{ entry.pk }}"></i><script>getStatus("{{ entry.pk }}");</script>
             </li>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
