{% extends "base.html" %}

{% block content %}
  <div class="row d-flex mt-4">
    <div class="col col-md-4 offset-md-4">
      <table class="table table-striped">
        <tr>
          <th>Entry</th>
          <th>Actiontype</th>
          <th></th>
        </tr>
        <tr>
          <td>{{ entry.route }}</td>
          <td class="text-center">{{ entry.actiontype.name }}</td>
          <td>
            <form class="form-inline" action="{% url 'route_manager:delete' entry.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm" type="submit">Delete Entry</button>
            </form></td>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
