{% extends "base.html" %}

{% block javascript %}
    {% csrf_token %}
    <script>
    {# Make sure we are connected to the websocket #}
    const waitForOpenConnection = (socket) => {
      return new Promise((resolve, reject) => {
          const maxNumberOfAttempts = 10
          const intervalTime = 200 //ms

          let currentAttempt = 0
          const interval = setInterval(() => {
              if (currentAttempt > maxNumberOfAttempts - 1) {
                  clearInterval(interval)
                  reject(new Error('Maximum number of attempts exceeded'))
              } else if (socket.readyState === socket.OPEN) {
                  clearInterval(interval)
                  resolve()
              }
              currentAttempt++
          }, intervalTime)
      })
    }

    {# Send the message once the websocket is connected #}
    const sendMessage = async (socket, msg) => {
        if (socket.readyState !== socket.OPEN) {
            try {
                await waitForOpenConnection(socket)
                socket.send(msg)
            } catch (err) { console.error(err) }
        } else {
            socket.send(msg)
        }
    }

    {# Build our websocket connection string #}
    var loc = window.location, wss_uri;
    if (loc.protocol === "https:") {
        wss_uri = "wss:";
    } else {
        wss_uri = "ws:";
    }
    wss_uri += "//" + loc.host;

    {# Open connection to the websocket #}
    let socket = new WebSocket(wss_uri + "/ws/route_manager/webui_block/")

    {# Send status request message #}
    function getStatus(route, pk) {
      let data = {"type": "wui_check_req", "message": {"route": route, "row": pk}};
      sendMessage(socket, JSON.stringify(data))
    }

    // Handle the response message and change icons based on status
    // the bullhorn lets us know it is announced (and tool tip shows by which translator)
    // the bug lets us know SCRAM is trying to announce the route, but gobgp is reporting it is not currently announced
    // this failure scenario means something is wrong internal to the SCRAM system
    socket.onmessage = function(msg) {
      var resp_data = JSON.parse(msg.data).message;
      var elem = document.getElementById("entry_status_" + resp_data.row);

      elem.classList.remove('fa-question-circle');
      if ( resp_data.is_blocked ) {
          elem.classList.add('fa-bullhorn', 'text-success');
          elem.setAttribute('title', "Currently being announced by " + resp_data.translator_name);
      }
      else {
          elem.classList.add('fa-bug', 'text-warning');
          elem.setAttribute('title', "Currently NOT being announced by " + resp_data.translator_name);
      }
    }
    </script>
{% endblock %}

{% block content %}
  <div class="row">
{% for actiontype, entry_data in entries.items %}
  <div class="col">
    <h2 class="text-center mt-2">{{ actiontype.name }}
      <span class="badge badge-secondary badge-pill">{{ entry_data.total }}</span>
    </h2>

    {% for entry in entry_data.objs %}
      <li class="list-group-item list-group-item-light text-center">
        <a class="link" href="{% url 'route_manager:detail' entry.id %}">
          {{ entry.route }} - Expires: {{ entry.expiration }}</a>
        <i class="fa fa-question-circle" title="Current status unknown" id="entry_status_{{ entry.pk }}"></i>
        <script>getStatus("{{ entry.route }}", "{{ entry.pk }}");</script>
      </li>
    {% endfor %}

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-4">
        {% if entry_data.objs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% for param, value in request.GET.items %}{% if param != entry_data.page_param %}{{ param }}={{ value }}&{% endif %}{% endfor %}{{ entry_data.page_param }}=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% for param, value in request.GET.items %}{% if param != entry_data.page_param %}{{ param }}={{ value }}&{% endif %}{% endfor %}{{ entry_data.page_param }}={{ entry_data.objs.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;&laquo;</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
          </li>
        {% endif %}

        {% for i in entry_data.objs.paginator.page_range %}
          {% if entry_data.objs.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link" style="background-color:#a2a3a5">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?{% for param, value in request.GET.items %}{% if param != entry_data.page_param %}{{ param }}={{ value }}&{% endif %}{% endfor %}{{ entry_data.page_param }}={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if entry_data.objs.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% for param, value in request.GET.items %}{% if param != entry_data.page_param %}{{ param }}={{ value }}&{% endif %}{% endfor %}{{ entry_data.page_param }}={{ entry_data.objs.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% for param, value in request.GET.items %}{% if param != entry_data.page_param %}{{ param }}={{ value }}&{% endif %}{% endfor %}{{ entry_data.page_param }}={{ entry_data.objs.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endfor %}
  </div>
{% endblock %}
