{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="jumbotron w-100" style="background-color:#626366">
        <h1 class="display-3 text-center text-white font-weight-bold">SCRAM</h1>
        <hr class="my-4">
        <p class="text-center" style="color:#2ba6c8">Security Catch and Release Automation Manager</p>
      </div>
    </div>
  </div>
  {% if not request.user|has_group:"" %}
  <div class="d-flex justify-content-center mt-2">
    <form class="form-inline" action="{% url 'route_manager:add' %}" method="post">
      {% csrf_token %}
      <div class="form-group inline mb-2">
        <input class="form-control mb-2 mr-2" name="route" placeholder="cidr" type="text">
        <select class="form-control mb-2" name="actiontype">
          {% for at in entries.keys %}
            {% if at.available %}
              <option>{{ at }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <button class="btn btn-info mb-2 ml-2" style="background-color:#2ba6c8!important;" type="submit">Add Entry</button>
      </div>
    </form>
  </div>
  <div class="row">
    {% for actiontype, entry_list in entries.items %}
      <div class="col">
        {% if actiontype.available %}
        <h2 class="text-center mt-2">{{ actiontype.name }}
          <span class="badge badge-secondary badge-pill">{{ entry_list.total }}</span>
        </h2>
          {% for entry in entry_list.objs %}
            {% if actiontype.name|lower == entry.actiontype|lower %}
              <li class="list-group-item list-group-item-light text-center">
                <a class="link" href="{% url 'route_manager:detail' entry.id %}">
                  {{ entry.route }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="row">

  </div>
{% endblock %}
