{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% for actiontype in Actiontypes %}
      <div class="col">
        <h2 class="text-center">{{ actiontype.name|capfirst }}</h2>
        <ul class="list-group list-group-flush">
          {% for entry in Entries %}
            {% if actiontype.name|lower == entry.actiontype|lower %}
              <li class="list-group-item list-group-item-light text-center">{{ entry.route }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="row">

  </div>
{% endblock %}
