upstream django {
    server django:5000;
}

server {
    listen [::]:80;
    listen 80;
    server_name {{ scram_nginx_host | default(ansible_fqdn) }};

{% if scram_server_alias is defined and scram_server_alias != '' %}
    server_name {{ scram_server_alias }};
{% endif %}

    return 301 https://$host$request_uri;
}

server {
    listen [::]:443 ssl;
    listen 443 ssl;
    server_name {{ scram_nginx_host | default(ansible_fqdn) }};

{% if server_alias is defined and server_alias != '' %}
    server_name {{ scram_server_alias }};
{% endif %}

    server_tokens off;
    proxy_read_timeout 600;
    proxy_connect_timeout 600;
    proxy_send_timeout 600;

    #ssl_certificate /etc/ssl/server.crt;
    #ssl_certificate_key /etc/ssl/server.key;

    location / {
        proxy_pass http://django;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Port $server_port;
        proxy_set_header   X-Forwarded-Host $host:$server_port;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
}
